html, body {

    margin: 0;

}

.nav-wrapper {

min-height: 85px;

}

.nav-wrapper.nav-wrapper-fixed {

position: absolute;

}

.nav-wrapper nav {

min-height: 85px;
z-index: 999;
    
}

[v-cloak] {
    display: none;
}

.badge {
    width: 24px;
    height: 24px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f05456;
    color: #fff;
    margin-left: 6px;
    border-radius: 50%;
}

.has-content {

    overflow: hidden;
    background: #eae9e7;

}

.columns div.column.is-3 {

    padding: 15px;
    box-sizing: border-box;

}

.navbar.is-transparent {

    background-color: transparent;
    box-shadow: 0px 2px 4px -3px #000;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.navbar.is-transparent.null {

    box-shadow: none;

}

.navbar.fixed-header {

    background-color: #fff;
    box-shadow: 0px 2px 4px -3px #000;
    transition: background-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.hero .navbar.fixed-header {

    background-color: #fff;

}

.navbar.is-fixed-top {

    transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.navbar-item img {

max-height: 4.25rem !important;

}

nav.navbar.navbar-default.navbar-fixed-top.be-top-header {

    position: relative;

}

.column.padding-rg-0 {

padding-right: 0;

}

.column.padding-lf-0 {

    padding-left: 0;
    
}

.container.spacing {
    margin: 16px 16px 0;
    max-width: none;
    width: auto;
}

.container.margin-top {

margin-top: 5%;

}

.container-fluid {

    padding: 0;

}

.homepage-banner {

    background: url("/assets/img/gallery/foodway-banner-chged-to-fullscreen.jpg");
    background-size: cover;

}

.homepage-banner .content {

    text-align: center;

}

.homepage-banner .title, .homepage-banner .subtitle {

    color:#fff;

}

.section.find-out-more {

    background: url("/assets/img/gallery/Foodway-Monthly-Meal-Subcription-01.jpg");
    background-size: cover;
    height: 65vh;
    display: Flex;
    align-items: center;
    justify-content: center;
    
}

.section.order-step {

    padding: 30px 15px 30px;

}

.section.order-step .columns .column{

    padding: 15px;
    text-align: center;

}

.section.mobile-app{

    background: url("/assets/img/gallery/mobile-app.jpg");
    background-size: cover;
    height: 50vh;
    display: Flex;
    align-items: center;
    justify-content: center;
    
}

.tile.is-child.box {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    position: relative;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    background: url("/assets/img/gallery/kl.jpeg");
    background-size: cover;

}

a.tile.is-child.box:hover {

    box-shadow: none;

}

.tile.is-child.box:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    transition: all 1.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tile.is-child.box:hover > p {
    opacity: 1;
    z-index: 1;
    transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
}

.tile.is-child.box:hover:before {
    background: rgba(255, 158, 158, 0.52);
    box-shadow: 0;

}

.tile.is-child.box > p {
    opacity: 0;
    color:#fff;
    text-shadow: 0px 0px 10px #000;
    transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
}

.cover-img {
    padding-bottom: 25%;
    background-size: cover;
    background-position-y: center;
}

.card-image .image {

    min-height: 200px;
    background-size: cover;

}

.rm-margin nav.tabs >ul {

    margin:0;

}

.media .media-content {

    overflow: unset;

}

.category-holder {
    padding: 1rem 0;
    margin-bottom: 24px;
}

.category-holder .columns.box {
    margin: 0 0 4px;
    padding: 0;
    border-radius: 0;
}

.category-holder .columns.box h5 {
    margin-bottom: 0.275em;
}

.category-holder .columns.box i.far {
    font-size: 1.5rem;
}

.category-holder .columns.box i.far:hover {
    color: #c02231;
    cursor: pointer;
}

.subtitle.is-6-5 {

    font-size: 0.825rem;

}

.promo {

text-decoration: line-through;
font-size: 13px;

}

footer {

    min-height: 40vh;
    background: url(https://www.foodway.my/wp-content/themes/foodpicky/images/foodpicky/dark-pattern.jpg);
    background-repeat: repeat;
    padding: 16px 12px;

}

footer .content h3.col-title {
    color: #fff;
    cursor: pointer;
    pointer-events: none;
}

footer .content ul {
    margin: 0;
}

footer .content ul > li {
    color: #fff;
    list-style: none;
    display: block;
    position: relative;
    margin: 10px 0;
}

footer .content a {
    color: #fff;
}

footer .content a:hover {
    color: #f05455;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 992px) {

.navbar-expand-lg .navbar-collapse{

    justify-content: flex-end;

}

.ml-auto, .mx-auto {
    margin-right: 5%!important;
}

}