.col-md-4 .panel-cover-image img {
    width: 100%;
    max-height: 250px;
    min-height: 250px;
    object-fit: cover;
}

.single-restaurant.panel-cover-image img {
    width: 100%;
    max-height: 225px;
    min-height: 225px;
    object-fit: cover;
}

.menu-items-holder .panel.panel-flat {
    margin-bottom: 5px;
}

.menu-items-holder .panel.panel-flat .price {

    font-size: 16px;

}

.my-handle {
	cursor: move;
    cursor: -webkit-grabbing;
    font-size: 25px;
}

.item-img {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 13.5%;
    background-size: cover;
}

.item-img > img {
    width: 100%;
}

.menu-items-holder .menu-holder {
    margin-bottom: 36px;
}

.cat-title {

    padding: 0 20px 4px 20px;

}

.menu-items-holder .cat-holder.testo {

    overflow: hidden;

}

.no-margin {

    margin:0;

}

img#preview,img#previewlogo {

width:100%;

}

.input-container {

    margin-bottom: 20px;
    
}

span.remove.input-group-btn > a.btn {
    vertical-align: middle;
    display: table-cell;
}

@font-face {
    font-family: 'icomoon';
    src:  url('/fonts/icomoon.eot?l1hu7k');
    src:  url('/fonts/icomoon.eot?l1hu7k#iefix') format('embedded-opentype'),
      url('/fonts/icomoon.ttf?l1hu7k') format('truetype'),
      url('/fonts/icomoon.woff?l1hu7k') format('woff'),
      url('/fonts/icomoon.svg?l1hu7k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-handle-grip-3:before {
    content: "\e900";
    color: #474747;
  }
  .icon-handle-grip-2:before {
    content: "\e000";
    color: #474747;
  }
  
  p.full-button-width > a {

    display: block;
    width:100%;
    padding: 2.5%;
    margin:2.5vmin 0;

}

h1.order_chart {

    font-size:7.5vm;
    font-size:7.5vmin;

}

div#bookings-table_length, div#bookings-table_filter, div#bookings-table_info, div#bookings-table_paginate {
    padding: 12px 20px;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    background: #4285f4 !important;
    border-color: #4285f4 !important;
    color: #fff !important;
}

div.dataTables_wrapper div.dataTables_length label select {
    padding: 6px;
}

div.dataTables_wrapper div.dataTables_filter input[type="search"] {
    border: 1px solid rgb(169, 169, 169);
}

  